# Dependency directories
node_modules/

# Debug log from npm
npm-debug.log*

# Environment variable files
.env

# Operating system files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn integrity file
.yarn-integrity

# Compiled files (if you have any)
/dist
/build

# IDE / Editors
.idea/
.vscode/
*.swp
*.swo
