body {
  background-color: #f3f3f3;
}
.document {
  display: block;
  margin: auto;
  max-width: 50vw;
  height: 90vh;
}

.document .ql-editor {
  background-color: white;
}
.document .ql-toolbar {
  background-color: white;
}
.cursor {
  position: absolute;
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
